.card {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;

}

.cardImg {
    width: 100%;
    aspect-ratio: 2/1;
    background-color: grey;
    margin-bottom: 20px;
}

.cardDescription {
    text-wrap: wrap;
    padding: 20px;
}

.cardDescription>*:not(:last-child) {
    margin-bottom: 15px;
}