.card {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;


}

.card_figure {
    width: 100%;
    aspect-ratio: 2/1;
}


.red {
    color: red;
}

.blue {
    color: blue;
}

.yellow {
    color: yellow;
}

.green {
    color: green;
}

.card_img {
    width: 100%;
    aspect-ratio: 2/1;
}

.card_description {
    text-wrap: wrap;
    padding: 20px;
}

.card_description>*:not(:last-child) {
    margin-bottom: 15px;
}